<div ng-repeat="d in data" ng-show="$index === currentPage" class="weather-page">
    <div class="date" ng-if="dateType === 'days'">
        <div ng-if="getDayDifference(now, d.date) === -1">Yesterday</div>
        <div ng-if="getDayDifference(now, d.date) === 0">Today</div>
        <div ng-if="getDayDifference(now, d.date) === 1">Tomorrow</div>
        <div ng-if="getDayDifference(now, d.date) === 2">Day after tomorrow</div>
        <div ng-if="getDayDifference(now, d.date) > 2">{{getDayDifference(now, d.date)}} days from now</div>
    </div>
    <div class="date" ng-if="dateType === 'hours'">
        <div ng-if="d.hoursFromNow === 0">Current conditions</div>
        <div ng-if="d.hoursFromNow > 0">{{d.hoursFromNow}} hour{{d.hoursFromNow !== 1 ? "s" : ""}} from now</div>
    </div>
    <div class="weather-summary">{{d.summary}}</div>
    <div class="float-group">
        <div class="icon-container">
            <img class="icon" ng-src="{{d.icon}}"/>
        </div>
        <div class="primary-temperatures float-group">
            <!-- this pad is used to push div.first down if div.second is absent -->
            <div class="top-pad" ng-if="d.temperature.average || !d.temperature.high"></div>
            <div class="first temperature average" ng-if="d.temperature.average">
                <span class="label">Avg</span>
                <span ng-repeat="sys in currentUnitSystems">
                    <span class="{{sys}}">{{d.temperature.average[sys] | truncatedFloat : 2}}&nbsp;{{unitNamesBySystem.temperature[sys]}}</span>
                    <span ng-if="!$last" class="units-separator"> / </span>
                </span>
            </div>
            <div class="first temperature low" ng-if="!d.temperature.average && d.temperature.low">
                <span class="label">L</span>
                <span ng-repeat="sys in currentUnitSystems">
                    <span class="{{sys}}">{{d.temperature.low[sys] | truncatedFloat : 2}}&nbsp;{{unitNamesBySystem.temperature[sys]}}</span>
                    <span ng-if="!$last" class="units-separator"> / </span>
                </span>
            </div>
            <div class="first temperature current-actual" ng-if="d.temperature.current">
                <span ng-repeat="sys in currentUnitSystems">
                    <span class="{{sys}}">{{d.temperature.current.actual[sys] | truncatedFloat : 2}}&nbsp;{{unitNamesBySystem.temperature[sys]}}</span>
                    <span ng-if="!$last" class="units-separator"> / </span>
                </span>
            </div>
            <div class="second temperature high" ng-if="!d.temperature.average && d.temperature.high">
                <span class="label">H</span>
                <span ng-repeat="sys in currentUnitSystems">
                    <span class="{{sys}}">{{d.temperature.high[sys] | truncatedFloat : 2}}&nbsp;{{unitNamesBySystem.temperature[sys]}}</span>
                    <span ng-if="!$last" class="units-separator"> / </span>
                </span>
            </div>
        </div>
    </div>
    <div class="secondary-temperatures float-group">
        <div class="first temperature low" ng-if="d.temperature.average">
            <span class="label">L</span>
            <span ng-repeat="sys in currentUnitSystems">
                <span class="{{sys}}">{{d.temperature.low[sys] | truncatedFloat : 2}}&nbsp;{{unitNamesBySystem.temperature[sys]}}</span>
                <span ng-if="!$last" class="units-separator"> / </span>
            </span>
        </div>
        <div class="first temperature current-feels-like" ng-if="d.temperature.current">
            <span class="label">Feels like</span>
            <span ng-repeat="sys in currentUnitSystems">
                <span class="{{sys}}">{{d.temperature.current.feelsLike[sys] | truncatedFloat : 2}}&nbsp;{{unitNamesBySystem.temperature[sys]}}</span>
                <span ng-if="!$last" class="units-separator"> / </span>
            </span>
        </div>
        <div class="second temperature high" ng-if="d.temperature.average">
            <span class="label">H</span>
            <span ng-repeat="sys in currentUnitSystems">
                <span class="{{sys}}">{{d.temperature.high[sys] | truncatedFloat : 2}}&nbsp;{{unitNamesBySystem.temperature[sys]}}</span>
                <span ng-if="!$last" class="units-separator"> / </span>
            </span>
        </div>
    </div>
    <div class="wind" ng-class="{'no-data': !d.wind}">
        <span class="label">Wind</span>
        <span ng-repeat="sys in currentUnitSystems" class="wind-speed" ng-class="{'no-data': !d.wind.speed}">
            <span class="{{sys}}">{{d.wind.speed[sys] | truncatedFloat : 1}}&nbsp;{{unitNamesBySystem.speed[sys]}}</span>
            <span ng-if="!$last" class="units-separator"> / </span>
        </span>
        <span ng-class="{'no-data': !d.wind.direction}"> {{d.wind.direction}}</span>
        <!--<div ng-class="{'no-data': !d.wind.summary}" class="wind-summary">{{d.wind.summary}}</div>-->
    </div>
</div>
