/***** general *****/
button { font-size: 31px; }

/***** page-level *****/
#location { margin-bottom: 20px; }

.preferences-button {
    top: 5px;
    left: 5px;
}

.controls .view-switch { width: 210px; }

/***** weather page directive *****/
.weather-page .icon-container {
    float: none;
    text-align: center;
}

.weather-page .icon {
    width: 250px;
    height: 300px;
}

.weather-page .primary-temperatures {
    float: none;
    text-align: center;
    height: 150px;
}

.weather-page .primary-temperatures .first,
.weather-page .primary-temperatures .second {
    font-size: 46px;
    float: none;
}
