<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <script src="script/lib/angular.js"></script>
    <script src="script/lib/require.js" data-main="script/weatherDisplayConfig.js"></script>
    <link rel="stylesheet" href="style/base.css"/>
</head>
<body ng-controller="WeatherDisplayController" ng-cloak="true">
    <div id="location">{{location.name}} {{location.zip}}</div>
    <div class="mode-label">{{currentView === Views.HOURS ? "Hourly Mode" : "Daily Mode"}}</div>
    <weather-page id="hourly-mode" data="hourlyModeData" current-unit-systems="currentUnitSystems" date-type="'hours'"
                  ng-show="currentView === Views.HOURS" switch-view="nextView" go-home="resetView"></weather-page>
    <weather-page id="day-mode" data="dayModeData" current-unit-systems="currentUnitSystems" date-type="'days'"
                  ng-show="currentView === Views.DAYS" switch-view="nextView" go-home="resetView"></weather-page>

    <button ng-click="toggleConfigModal()">Preferences</button>
    <div id="modal-background" ng-show="showSettingsModal"></div>
    <div id="preferences-modal" ng-show="showSettingsModal">
        <div class="close" ng-click="toggleConfigModal()">&times;</div>
        <div class="category">Location</div>
        <div class="location prefs-group">
            <label for="location-text">Zip/City</label>
            <input id="location-text" type="text" ng-model="preferences.location"/>
            <help-modal>The location can be specified as a zip code <span class="example">(eg 02446)</span>, a US state & city <span class="example">(eg CA/San_Francisco)</span>, a country & city <span class="example">(eg Australia/Sydney)</span>, lat/long coords <span class="example">(eg -37.8,-122.4)</span>, or an airport code <span class="example">(eg KBOS)</span></help-modal>
        </div>
        <div class="category">Units</div>
        <div class="units prefs-group">
            <div class="row">
                <label for="imperial-checkbox">Imperial</label>
                <input id="imperial-checkbox" type="checkbox" ng-model="preferences.showImperial"/>
            </div>
            <div class="row">
                <label for="metric-checkbox">Metric</label>
                <input id="metric-checkbox" type="checkbox" ng-model="preferences.showMetric"/>
            </div>
            <div class="row">
                <label for="si-checkbox">SI</label>
                <input id="si-checkbox" type="checkbox" ng-model="preferences.showSi"/>
            </div>
        </div>
        <div class="category">Data</div>
        <div class="data prefs-group">
            <label for="hourly-interval">Hourly forecast interval</label>
            <input id="hourly-interval" type="number" ng-model="preferences.hourlyInterval"/>
        </div>
    </div>
</body>
</html>
