<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <script src="script/lib/angular.js"></script>
    <script src="script/lib/require.js" data-main="script/weatherDisplayConfig.js"></script>
    <link rel="stylesheet" href="style/base.css"/>
</head>
<body ng-controller="WeatherDisplayController" ng-cloak="true">
<div>
    <div id="location">{{wData.conditions.location.name}} {{wData.conditions.location.zip}}</div>
    <div id="current" class="tile">
        <div class="header">Current</div>
        <br/>
        <img ng-src="{{wData.conditions.icon}}"/>
        <br/>
        <div>
            <span ng-repeat="sys in currentUnitSystems">
                <span>{{wData.conditions.temp.actual[sys] |  truncatedFloat : 2}} {{unitNamesBySystem.temperature[sys]}}</span>
                <span ng-if="!$last" class="units-separator">/</span>
            </span>
            <br/>
            <span>Feels like: </span>
            <span ng-repeat="sys in currentUnitSystems">
                <span>{{wData.conditions.temp.feelsLike[sys] |  truncatedFloat : 2}} {{unitNamesBySystem.temperature[sys]}}</span>
                <span ng-if="!$last" class="units-separator">/</span>
            </span>
            <br/>
        </div>
        <div>
            <div>Wind</div>
            <div>{{wData.conditions.wind.summary}}</div>
            <span ng-repeat="sys in currentUnitSystems">
                <span>{{wData.conditions.wind.speed[sys] |  truncatedFloat : 1}} {{unitNamesBySystem.speed[sys]}}</span>
                <span ng-if="!$last" class="units-separator">/</span>
            </span>
            {{wData.conditions.wind.direction}}
        </div>
    </div>
    <div id="forecast-today" class="tile">
        <div class="header">Today</div>
        <br/>
        <img ng-src="{{wData.forecast.today.icon}}"/>
        <br/>
        <span class="imperial" ng-show="preferences.showImperial">{{wData.forecast.today.text.imperial}}</span>
        <br class="units-separator" ng-show="preferences.showImperial && preferences.showMetric"/>
        <span class="metric" ng-show="preferences.showMetric">{{wData.forecast.today.text.metric}}</span>
        <br/>
        <div>
            Low:
            <span ng-repeat="sys in currentUnitSystems">
                <span>{{wData.forecast.today.temp.low[sys] |  truncatedFloat : 2}} {{unitNamesBySystem.temperature[sys]}}</span>
                <span ng-if="!$last" class="units-separator">/</span>
            </span>
            <br/>
            High:
            <span ng-repeat="sys in currentUnitSystems">
                <span>{{wData.forecast.today.temp.high[sys] |  truncatedFloat : 2}} {{unitNamesBySystem.temperature[sys]}}</span>
                <span ng-if="!$last" class="units-separator">/</span>
            </span>
        </div>
        <div>
            <div>Wind</div>
            <span ng-repeat="sys in currentUnitSystems">
                <span>{{wData.forecast.today.wind.speed[sys] |  truncatedFloat : 1}} {{unitNamesBySystem.speed[sys]}}</span>
                <span ng-if="!$last" class="units-separator">/</span>
            </span>
            {{wData.forecast.today.wind.direction}}
        </div>
    </div>
    <div id="yesterday" class="tile">
        <div class="header">Yesterday</div>
        <br/>
        <img ng-src="{{wData.history.yesterday.icon}}" title="{{wData.history.yesterday.iconName}}"/>
        <br/>
        <div>
            <span ng-repeat="text in wData.history.yesterday.texts">{{text}}{{$last ? "" : " / "}}</span>
        </div>
        <br/>
        <div>
            Low:
            <span ng-repeat="sys in currentUnitSystems">
                <span>{{wData.history.yesterday.temp.low[sys] |  truncatedFloat : 2}} {{unitNamesBySystem.temperature[sys]}}</span>
                <span ng-if="!$last" class="units-separator">/</span>
            </span>
            <br/>
            High:
            <span ng-repeat="sys in currentUnitSystems">
                <span>{{wData.history.yesterday.temp.high[sys] |  truncatedFloat : 2}} {{unitNamesBySystem.temperature[sys]}}</span>
                <span ng-if="!$last" class="units-separator">/</span>
            </span>
            <br/>
            Average:
            <span ng-repeat="sys in currentUnitSystems">
                <span>{{wData.history.yesterday.temp.mean[sys] |  truncatedFloat : 2}} {{unitNamesBySystem.temperature[sys]}}</span>
                <span ng-if="!$last" class="units-separator">/</span>
            </span>
        </div>
        <div>
            <div>Wind</div>
            <span ng-repeat="sys in currentUnitSystems">
                <span>{{wData.history.yesterday.wind.speed[sys] |  truncatedFloat : 1}} {{unitNamesBySystem.speed[sys]}}</span>
                <span ng-if="!$last" class="units-separator">/</span>
            </span>
            {{wData.history.yesterday.wind.direction}}
        </div>
    </div>
    <button ng-click="toggleConfigModal()">Preferences</button>
    <div id="modal-background" ng-show="showSettingsModal"></div>
    <div id="preferences-modal" ng-show="showSettingsModal">
        <div class="close" ng-click="toggleConfigModal()">&times;</div>
        <div>Location</div>
        <label for="location-text">Location</label>
        <input id="location-text" ng-model="preferences.location"/>
        <div>Units</div>
        <label for="imperial-radio">Imperial</label>
        <input id="imperial-radio" type="checkbox" ng-model="preferences.showImperial"/>
        <br/>
        <label for="metric-radio">Metric</label>
        <input id="metric-radio" type="checkbox" ng-model="preferences.showMetric"/>
        <br/>
        <label for="si-radio">SI</label>
        <input id="si-radio" type="checkbox" ng-model="preferences.showSi"/>
    </div>
</div>
</body>
</html>
